{% extends "layouts/layout.html" %}
{% block content %}
{# 分頁項目 #}
{% for item in pagination.items %}
    <p>{{ item.follower.username }}</p>
    <p>{{ item.follower.email }}</p>
    <a href="{{ url_for('users.profile', user_uuid=item.follower.uuid) }}">
        <span>permalink</span>
    </a>
{% endfor %}
{# 分頁器 #}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {# 上一頁 #}
        {% if not pagination.has_prev %}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=pagination.page - 1) }}">Previous</a></li>
        {% endif %}
        {# 所有頁面 #}
        {% for each_page in pagination.iter_pages(left_edge=pagination.pages) %}
            {% if each_page ==pagination.page %}
                {# 當前頁面 #}
                <li class="page-item active"><a class="page-link" href="{{ url_for(endpoint, page=each_page) }}#">{{ each_page }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=each_page) }}#">{{ each_page }}</a></li>
            {% endif %}
        {% endfor %}
        {# 下一頁 #}
        {% if not pagination.has_next %}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=pagination.page + 1) }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}